@use '/src/styles/constants/colors';
@use '/src/styles/mixins/flexbox';
.app {
  @include flexbox.flexbox(start, center);
  flex-direction: column;
  gap: 100px;
  height: auto;
  background-color: colors.$GRAYE;

  h1 {
    font-size: 30px;
    font-weight: bold;
  }
}
